body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    background: #F2F2F2;
    color: white;
}

.container {
    max-width: 960px;
    max-height: 1357px;
    margin: 0px auto;
    padding: 0px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    width: 960px;
    height: 1357px;
}

.left1 {
    width: 220px;
    height: 1075px;
    background: #1c2833;
    padding: 25px;
}

img {
    height: 220px;
    width: 220px;
    object-fit: cover;
    border-radius: 50%;
    padding:  15px 0px;

}

.title1 {
    font-size: 32px;
    font-weight: bold;
}

.text1 {
    font-size: 18px;
}

.horizontal_line {
    margin-bottom: 15px;
}



.personal_data {
    padding: 12.5px 0;
}

.subtitle1 {
    font-size: 22px;
    font-weight: bold;
}

a {
    color: white;
    font-size: 18px;

}

.right1 {
    background-color: #f8f8ff;
    padding: 0;
    color: black;
    text-align: justify;
    vertical-align: top;
    padding: 60px 50px 30px 50px;
}

h1 {
    font-size: 38px;
    font-weight: bold;
}

.text-intro {
    font-size: 19px;
    padding-bottom: 20px; 
}

.text2 {
    font-size: 19px;
}

.subtitle2 {
    font-size: 24px;
    font-weight: bold;
}

.subtitle3 {
    font-size: 19px;
    font-weight: bold;
}

.dates {
    font-size: 20px;
    text-align: right;
    font-style: italic;
}